
:root {
    --orange: #FF8C05;
    --blue: #1400FF;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.li-text {
    font-family: varela;
    font-size: 16px;
}

p {
    font-family: varela;
    font-size: 16px;
}

nav,
#menu-checkbox {
    display: none;
       
}

#menu-checkbox:checked ~ nav {
    display: block;
}

.active {
    text-decoration: underline green 3px
}
nav {
    position: absolute;
    background-color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    
   
          
}

header {
    position: relative;    
    padding: 10px;
    font-size: 3rem;
    
}

nav a {
    display: block;
    align-items: center;
    color: #000;
   
}

.navbar-links {
    display: flex;
    justify-content: flex-start; 
         
}



ul {
    list-style-type: none;
}

.nav-logo {
    margin-left: 5px;
    margin-top: 3px;
    width: 120px;
    height: auto;
} 

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



h1 {
    font-family: bangers;
   
    display: flex;
    justify-content: center;
    margin: 40px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: bangers;
}

h3 {
    padding-bottom: 10px;
    
}

.boxed-font {
    font-family: varela;
    font-size: 16px;
}

.img-girl {
    display: flex;
    width: 80%;
    height: auto;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    
    box-shadow: 0 4px 4px var(--orange);
}

.quick-links {
    
    font-family: bangers;
    margin: 50px;
}

.index-buttons {
    list-style: none;
    display: flex; 
    justify-content: space-evenly;
    width: auto;
  
}

.index-button {
    background-color: #E0E0E0;
    border: 2px solid var(--blue);
    height: 75px;
    width: 214px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 60px;
    box-shadow: 0 4px 4px var(--orange)
}
 .tricks {
    display: flex;
    justify-content: center;
    gap: 4%;
    
    
 }

.picture {
    border-radius: 15px;
    border: 2px solid var(--blue);
    max-width: 38%;
    height: auto;
    box-shadow: 0 4px 4px var(--orange)
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.explore {
    
    position: relative;
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #E0E0E0;
    border: 2px solid var(--blue);
    box-shadow: 0 4px 4px var(--orange);
    width: 80%;
    

}

.visitation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
}



.contact-maps {
    display: flex;
    align-items: center;

}

.section-wrapper {

max-width: 500px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 400px;


}

.visitation-picture {

    width: 17%;
    height: auto;
    border-radius: 0px 14px 0px 3px;
    position: absolute; 
    top: 0;
    right: 0;

}

footer {

    background-color: #575555;
    height: 350px;
    width: 100%;
    

}


a, a:visited, a:hover, a:active {
    color: inherit;
  }

a {
    cursor: pointer;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 600;
    
}

.header {
    display: flex;
    align-items: center;
}

.color-container {
    border: 2.5px solid var(--blue);
    box-shadow: 0 4px 4px var(--orange);
    background-color: #E0E0E0;

}

.cosmo-section {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    width: 80%;
    border-radius: 15px;
    margin-bottom: 60px;
    
}


.cosmo-picture {
    background-image: url("/Images/celso-405219.jpg");
    width: 100%;
    height: 151px;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 20 / 3;
    border-radius: 13px 13px 0px 0px;
}

.exhibitions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    

}

.hours {
    list-style: none;
}

.contact-hours {
    height: 309px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.para-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    padding: 0 20px 20px 20px;
}
.evo-container {
    display: flex;
    height: 350px;
    justify-content: space-between;
    width: 80%;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 60px;
}

.evo-picturer {
    height: 346px;
    width: 40%;
    border-radius: 0px 13px 13px 0px;
    box-shadow: -2px 0px 3px 0px #aaa;
}
.evo-picturel {
    height: 346px;
    width: 40%;
    border-radius: 13px 0px 0px 13px;
}

.evo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: 0 20px 20px 20px;
    height: 250px;
   
    }

.contribute-container {
        display: flex;
        height: 250px;
        justify-content: space-around;
        width: 80%;
        border-radius: 15px;
        align-items: center;
        margin-bottom: 60px;
    }

.contact-container {
    display: flex;
    height: 450px;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 60px;
    width: 80%;
}

iframe {
    height: 309px;
    width: auto;
    border: 0;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.contact-visit {
    display: flex;
    flex-direction: column;
    width: 650px;
    justify-content: space-around;
    padding: 15px;
    
}

.contact-us {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    
}

.input-text {
    border: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

textarea {
    width: 200px;
    height: 250px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    padding: 3px;
   
}

.form-submit {
    border: 0;
    background-color: #fff;
    width: 100px;
    padding: 5px;
    border-radius: 10px;

}

.form-wrapper {
    margin: auto;
    height: 100%;
}

.contact-map-hours {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

    .contact-picture {
        height: 100%;
        width: auto;
        border-radius: 0px 13px 13px 0px;
       
        
    }

    .hours-content 
    {
        display: flex;
        width: 250px;
        justify-content: space-between;
        font-family: varela;
        font-size: 16px;
        
    }

    .section-terms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .terms-condit {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        width: 80%;
    }

    .terms-update {
        text-align: center;
        margin-bottom: 50px;
        font-size: 14px;
    }

    .footer-blocks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        
        
        
    }

    .footer-links {
        font-family: bangers;
        color:#fff;
        font-size: 19px;
        text-decoration: none;
    }

    footer a {
        color: #fff;
        font-weight: 100;
    }

    .footer-image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: bangers;
        font-size: 19px;
        color: #fff;
        font-weight: 50;
        gap: 15px;
        
        
    }

    .footer-contact {
        
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
            }

    h4 {
        color: #fff;
        font-family: bangers;
        font-size: 19px;
    }

 /* Hamburger */

    @media (min-width: 649px) {
        nav     {
            display: block;
            position: static;
            border-radius: 0px 0px 10px 10px;
            justify-content: center;
            
                  }
    
        .hamburger-icon  {
            display: none;
        }
    
       
        header   {
            box-shadow: 0 4px 4px #FF8C05;
        }
    
        nav ul {
        display: flex;
        color: #000;
        font-family: bangers;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 80%;
        justify-content: space-between; 
        align-items: center;
    
        
        }
     
        
    }

     /* Responsiveness */

     @media (max-width: 650px) {


        
        
        .index-buttons {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: auto;
            align-items: center;
          
        }

        .footer-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}
  
    .hideaway {
    display: none;
    visibility: hidden;
  }      

  .visitation {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.footer-contact {
        
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        }

        footer {
            height: 500px;
        }

     }